@model PasswordModel;

<form class="SecurityPasswordForm" asp-controller="Security" asp-action="ChangePassword">

    <h2>Security</h2>
    <div id="blueHeadline" class="basicInfo">
        <h5>Password</h5>

        @if (TempData["MessageErrorSecurity"] != null)
        {
            <span class="error span">@TempData["MessageErrorSecurity"]</span>
        }
        @if (TempData["MessageSuccessSecurity"] != null)
        {
            <span class="success span">@TempData["MessageSuccessSecurity"]</span>
        }
    </div>

    <div id="Password">
        <label asp-for="Password"><b>Current password</b></label>
        <span asp-validation-for="Password"></span>
        <div class="input-theme"><input asp-for="Password" /></div>
    </div>
    <div id="boxNewPassword">
        <label asp-for="NewPassword"><b>New password</b></label>
        <span asp-validation-for="NewPassword"></span>
        <div class="input-theme"><input asp-for="NewPassword" /></div>
    </div>

    <div id="boxConfirmNewPassword">
        <label asp-for="ConfirmNewPassword"><b>Confirm new password</b></label>
        <span asp-validation-for="ConfirmNewPassword"></span>
        <div class="input-theme"><input asp-for="ConfirmNewPassword" /></div>
    </div>

    <div id="buttons" class="save-cancel">
        <a asp-action="Index" asp-controller="Security" class="btn-gray">Cancel</a>
        <button class="btn-theme" type="submit">Save changes</button>
    </div>

</form>

@await Html.PartialAsync("_ValidationScriptPartial")
