<div class="divContainer">
    <div class="basicInfo">
        <h5>Delete account</h5>
        <span>Data was updated successfully</span>
    </div>
    <div class="content">
        <p>
            When you delete your account, your public profile will be deactivated immediately. If you change your mind before the 14 days are up, sign in with your email and password, and we’ll send you a link to reactivate your account.
        </p>
    </div>
    <form class="SecurityDeleteForm">

        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Yes, I want to delete my account.
            </label>
        </div>

        <div class="save-cancel">
            <button class="btn-red">Delete</button>
        </div>
    </form>
</div>
