@inject IntegrateService _integrateService


@* Integrate *@
@{
    var resultIntegrate = await _integrateService.GetAllIntegrate();
    List<IntegrateEntity> integrate = (List<IntegrateEntity>)resultIntegrate.ContentResult!;
    var contentIntegrate = integrate.First();
}

<section id="integrate" class="section-margin">
    <wrapper class="section-wrapper-integrate">
        <div class="headlinesIntegrate">
            <h1>@contentIntegrate.Title</h1>
            <p>@contentIntegrate.Ingress</p>
        </div>
        <div class="box-container">

            @foreach (var item in contentIntegrate.IntegrateItems)
            {
                <div class="box-integrate">
                    <img src="~/images/iconsbrands/@item.ImageUrl" alt="@item.AltText" />
                    <p>@item.Text</p>
                </div>
            }
        </div>
    </wrapper>
</section>