@model SignInViewModel

@{
    ViewData["Title"] = "Sign in";
}

<section id="sign-in">
    <div class="container">
        <form class="sign-in-form" method="post" asp-action="SignIn" asp-controller="SignIn" asp-route-ReturnUrl="@ViewData["ReturnUrl"]" novalidate>
            <div class="errorMessageContainer">
                <span class="error">@ViewData["ErrorMessage"]</span>
                @if (TempData["SeeYou"] != null)
                {
                    <span class="success">@TempData["SeeYou"]</span>
                }
            </div>
            <div class="headlines">
                <h1>Welcome Back</h1>
                <p>Don’t have an account yet? <a asp-controller="SignUp" asp-action="Index">Sign up here.</a></p>
            </div>
            <div id="form-email">
                <label asp-for="Form.Email"><b>Email</b></label>
                <span asp-validation-for="Form.Email"></span>
                <div class="input-theme">
                    <input asp-for=Form.Email />
                </div>
            </div>
            <div>
                <label asp-for="Form.Password"><b>Password</b></label>
                <span asp-validation-for="Form.Password"></span>
                <div class="input-theme"><input asp-for="Form.Password" /></div>
            </div>
            <div class="form-check">
                <input asp-for="Form.RememberMe" class="form-check-input" type="checkbox" id="flexCheckDefault">
                <label asp-for="Form.RememberMe" class="form-check-label" for="flexCheckDefault">
                    Remember me
                </label>
            </div>
            <button class="btn-theme-s" type="submit">Sign in</button>
            <a class="center" asp-controller="SignIn" asp-action="Forgot">Forgot your password?</a>

            <hr />

            <div class="loginSocialContainer">
                <b>Or sign in with your social network</b>
                <div class="btn-container">
                    <a class="btn-gray" asp-controller="SignIn" asp-action="Google"><i class="fa-brands fa-google"></i>Google</a>
                    <a class="btn-gray" asp-controller="SignIn" asp-action="Facebook"><i class="fa-brands fa-facebook-f"></i>Facebook</a>
                </div>
            </div>
        </form>
    </div>
</section>

@await Html.PartialAsync("_ValidationScriptPartial")
