@{
    ViewData["Title"] = "Access denied";
}

<section id="page404">
    <div class="section-container">
        <div class="page-content">
            <h1>Access denied</h1>
            <p>It looks like you trying to access a page you not have access to...</p>
            <a class="btn-theme-s goToHome" asp-controller="Home" asp-action="Index">
                <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.00293 20H6.00293H12.0029H16.0029C17.1059 20 18.0029 19.103 18.0029 18V9.00001C18.0029 8.73501 17.8979 8.48001 17.7099 8.29301L9.70993 0.293006C9.31893 -0.0979941 8.68693 -0.0979941 8.29593 0.293006L0.29593 8.29301C0.10793 8.48001 0.00292969 8.73501 0.00292969 9.00001V18C0.00292969 19.103 0.899929 20 2.00293 20ZM7.00293 18V13H11.0029V18H7.00293ZM2.00293 9.41401L9.00293 2.41401L16.0029 9.41401L16.0039 18H13.0029V13C13.0029 11.897 12.1059 11 11.0029 11H7.00293C5.89993 11 5.00293 11.897 5.00293 13V18H2.00293V9.41401Z" fill="white" />
                </svg>
                Go to homepage
            </a>
        </div>
    </div>
</section>