@import '../../../_core.scss';
@import '../../../components/_tags.scss';
@import '../../../components/_links.scss';


@media(min-width:10px)
{
    #courses {
        padding-inline: 1rem;

        .headlineCourses {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            .search-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;

                .dropdown-toggle {
                    border: 2px solid $gray-300;
                    border-radius: 0.4rem;
                    display: flex;
                    justify-content: space-between;
                    padding: 0.5rem;
                    min-width: 12rem;
                }

                .dropdown-item {
                    min-width: 14rem;
                    padding-block: 0.5rem;
                }
            }
        }
    }

    .course-container {
        padding-block: 1rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;

        #noCoursesFound {
            padding: 2rem;
            text-align: center;
        }

        .courses-boxes {
            border-radius: 0.6rem;
            box-shadow: 0px 4px 13px -2px rgba(19, 16, 34, 0.06), 0px 4.8px 24.4px -6px rgba(19, 16, 34, 0.10);
            height: auto;

            .courses-boxes {
                transition: ease-in-out 120ms;

                .a-title {
                    &:hover {
                        text-decoration: underline;
                        color: $gray-700;
                    }

                    h5 {

                        &:hover {
                            color: $gray-700;
                        }
                    }
                }
            }

            .imageContainer {
                position: relative;
                margin: 0;
                border-radius: 0.6rem;
                display: flex;

                .image {
                    width: 100%;
                    border-radius: 0.6rem 0.6rem 0 0;
                }

                .best-seller-container {
                    position: absolute;
                    left: 3%;
                    top: 6%;
                }
            }

            .text-container {
                display: grid;
                grid-template-rows: 1fr;
                gap: 0.2rem;
                padding: 1rem;

                h5 {
                    margin: 0rem;
                }

                p {
                    font-size: 0.9rem;
                }

                .price-container {
                    display: flex;
                    gap: 0.5rem;

                    .price {
                        color: $theme;

                        h6 {
                            margin: 0;
                        }
                    }

                    .red {
                        color: $danger;

                        h6 {
                            margin: 0;
                        }
                    }

                    .discount-price {
                        color: $gray-600;
                        text-decoration: line-through;

                        p {
                            font-size: 1rem;
                        }
                    }
                }

                .hr {
                    margin-block: 0.5rem;
                }

                .timeAndLikesParent {
                    display: flex;
                    gap: 2rem;
                    color: $gray-600;

                    .timeAndLikesChild {
                        display: flex;
                        align-items: center;
                        gap: 0.2rem;
                    }
                }

                .checkboxBestSeller {
                    display: flex;
                }

                .btnContainer {
                    padding-top: 1rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: end;
                }
            }
        }
    }

    .pagination-container {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        margin-top: 1rem;
        width: 100%;
        height: auto;

        ul {
            .pagination {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

@media(min-width:1820px)
{
    #courses {
        .navigation {
            justify-content: left;
        }

        .headlineCourses {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-top: 2rem;

            .search-container {
                flex-direction: row;
                align-items: center;
                gap: 1rem;

                .dropdown-item {
                    transition: ease-in-out 120ms;

                    &:hover {
                        background-color: $gray-300;
                        text-decoration: none;
                    }
                }

                #myDropdown {
                    width: 20rem;
                }
            }
        }
    }

    .course-container {
        grid-template-columns: 1fr 1fr 1fr;

        #noCoursesFound {
            grid-column: 2;
        }

        .courses-boxes {
            transition: ease-in-out 120ms;

            &:hover {
                box-shadow: 0px 2px 8px $gray-500;

                .a-title {
                    &:hover {
                        text-decoration: underline;
                        color: $gray-700;
                    }

                    h5 {

                        &:hover {
                            color: $gray-700;
                        }
                    }
                }
            }
        }
    }
}