@import "../../core/_colors.scss";
@import "../../components/_buttons.scss";

//Mobil first
@media(min-width: 10px) {

    .container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;

        .subscriberContainerParent {
            padding-block: 1rem;
            display: grid;
            align-items: center;
            grid-template-columns: 1fr;
            row-gap: 0.5rem;

            .subscriberContainerChild {
                padding: 0.5rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                column-gap: 1rem;
                border: solid 1px var(--color-gray-200);
            }
        }

        .areYouShureContainer {
            display: none;
            background-color: var(--color-gray-200);
            padding: 2rem;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            box-shadow: 2px 3px 5px var(--color-gray-200);
            transition: ease-in-out 120ms;


            .btnContainer {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

        .showAreYouShureContainer {
            display: flex !important;
            flex-direction: column;
            gap: 1rem;
        }
    }

    .AdminChoises {
        text-align: center;
        display: grid;
        row-gap: 1rem;

        a {
            transition: color ease-in-out 120ms;

            &:hover {
                color: var(--color-gray-500);
                text-shadow: 1px 1px 2px var(--color-gray-200);
            }
        }

        h6 {
            transition: color ease-in-out 120ms;

            &:hover {
                color: var(--color-gray-500);
                text-shadow: 1px 1px 2px var(--color-gray-200);
            }
        }
    }

    .createNewCourseContainer
    {
        padding-block: 1rem;
    }
}

.endContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem; 
}

.areYouShureContainer {
    display: none;
    background-color: var(--color-gray-200);
    padding: 2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    box-shadow: 2px 3px 5px var(--color-gray-200);
    transition: ease-in-out 120ms;
    text-align: center;


    .btnContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }
}

.showAreYouShureContainer {
    display: flex !important;
    flex-direction: column;
    gap: 1rem;
}

.checkboxBestSeller
{
    display: flex;
}
