@{
    ViewData["Title"] = "Admin"; 
}

<section>
    <div class="AdminChoises">
        <h1>Admin</h1>
        <a asp-controller="AdminCourses" asp-action="Index"><h6>Handle Courses</h6></a>
        <a asp-controller="AdminSubscribe" asp-action="Index"><h6>Handle Subscribers</h6></a>
    </div>
</section>

