
@{
    ViewData["Title"] = "Account Details";
}

<section id="account" class="container">
        <div class="leftside">

        @Html.Partial("~/Views/Account/UserInfo.cshtml", ViewData["UserInfo"])
        
        </div>

        <hr class="hr"/>

        <!-- Right side -->
        <div class="containerAccount">

        @Html.Partial("~/Views/Account/BasicInfo.cshtml", ViewData["BasicInfo"])

            <hr>

        @Html.Partial("~/Views/Account/AddressInfo.cshtml", ViewData["AddressInfo"])
    
        </div>
</section>
