@import '../../../core/_colors.scss';

//Mobil first
@media(min-width: 10px) {
    #CourseTeacher {
        display: grid;
        grid: 1fr;
        position: relative;

        .something {
            color: white;
            width: 100%;
            height: auto;
            z-index: 0;
            position: absolute;
            bottom: 0;
        }

        .imageContainer {
            z-index: 1;
            width: 100%;
            overflow: hidden;

            img {
                width: 100%;
            }
        }

        .textContainerCourses {
            padding: 1rem;
            width: 100%;
            background-color: var(--color-gray-900);
            z-index: -1;

            .contentContainerCourses {
                h1 {
                    color: var(--color-white);
                    font-weight: 900;
                }

                color: var(--color-gray-400);
                display: grid;
                align-self: center;
                gap: 1rem;

                .btnContainerCourses {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    a {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

//992px to Desktop
@media(min-width: 992px) 
{
    #CourseTeacher {
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 3fr;
        position: relative;

        .imageContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            overflow: hidden;
            margin: 0;
        }

        .img {
            max-width: 34rem;
            max-height: auto;
        }

        .textContainerCourses {
            display: flex;
            justify-content: center;
            align-items: center;

            .contentContainerCourses {
                max-width: 28rem;
                gap: 2rem;

                .btnContainerCourses {
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                }
            }
        }
    }
}
