@model CourseModel;

<div class="container">
    <form class="sign-in-form" method="post" asp-controller="AdminAddCourse" asp-action="Create" novalidate>
        <div class="headlines">
            <h1>Create Course</h1>
        </div>

        @if (TempData["SuccessMessage"] != null)
        {
            <div class="success center">@TempData["SuccessMessage"]</div>
        }
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="error center">@TempData["ErrorMessage"]</div>
        }

            <div id="Title">
                <label asp-for="Title"><b>Title</b></label>
                <span class="" asp-validation-for="Title"></span>
                <input asp-for="Title" />
            </div>
            <div id="Price">
                <label asp-for="Price"><b>Price</b></label>
                <span asp-validation-for="Price" class=""></span>
                <input asp-for="Price" />
            </div>

        <div id="DiscountPrice">
            <label asp-for="DiscountPrice"><b>Discount price</b></label>
            <span asp-validation-for="DiscountPrice" class=""></span>
            <input asp-for="DiscountPrice" />
        </div>

        <div id="Hours">
            <label asp-for="Hours"><b>Hours</b></label>
            <span asp-validation-for="Hours" class=""></span>
            <input asp-for="Hours" />
        </div>
        <div id="LikesInNumbers">
            <label asp-for="LikesInNumbers"><b>Likes In Numbers</b></label>
            <span asp-validation-for="LikesInNumbers" class=""></span>
            <input asp-for="LikesInNumbers" />
        </div>

        <div id="LikesInProcent">
            <label asp-for="LikesInProcent"><b>Likes In Procent</b></label>
            <span asp-validation-for="LikesInProcent" class=""></span>
            <input asp-for="LikesInProcent" />
        </div>

        <div id="Author">
            <label asp-for="Author"><b>Author</b></label>
            <span asp-validation-for="Author" class=""></span>
            <input asp-for="Author" />
        </div>

        <div id="Description">
            <label asp-for="Description"><b>Description</b></label>
            <span asp-validation-for="Description" class=""></span>
            <textarea class="inputArea" asp-for="Description"></textarea>
        </div>

        <div id="WhatYouLearn">
            <label asp-for="WhatYouLearn"><b>What You Learn</b></label>
            <span asp-validation-for="WhatYouLearn" class=""></span>
            <input asp-for="WhatYouLearn" />
        </div>

        <div id="CourseImage">
            <label asp-for="@Model.ImageUrl"><b>Image Url</b></label>
            <span asp-validation-for="ImageUrl" class=""></span>
            <input asp-for="ImageUrl" />
        </div>

        <div id="AltText">
            <label asp-for="ImageALtText"><b>Image alt text</b></label>
            <span asp-validation-for="ImageALtText" class=""></span>
            <input asp-for="ImageALtText" />
        </div>

        <div class="IsABestSeller">
            <div class="checkboxBestSeller">
                <input asp-for="IsBestseller" class="form-check-input" type="checkbox">
                <label asp-for="IsBestseller" class="form-check-label" for="flexCheckDefault">
                    Is a bestseller?
                </label>
            </div>
        </div>

        <button class="btn-theme-s" type="submit">Add course</button>
    </form>
</div>


