@import '../_core.scss';
@import '_buttons.scss';
@import '../core/_colors.scss';

a {
    @include standard-text;
    color: var(--color-gray-500);
    text-decoration: none;
    transition: all 0.15s ease-in-out;

    &:hover {
        text-decoration: underline;
    }

    &:Active {
        color: var(--color-gray-700);
    }
}

.menu-link {
    @include text-nav;
    text-decoration: none;
    transition: color 0.15s ease-in-out, transform 0.15s ease-in-out;

    &:hover {
        text-decoration: none;
        text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.5);

        background-color: #5178F8;
        
        a {
            transform: scale(1.1);
        }
    }

    &:active,
    &:focus,
    .active {
        color: $theme;
        text-decoration: none;
    }
}

.svgMenu {
    fill: var(--color-gray-800);
}

.user-links {
    @include button;
    background: var(--color-transparent);
    color: var(--color-gray-800);
    border: none;
    width: 14rem;

    path {
        fill: var(--color-gray-800);
    }


    &:hover {
        background: var(--color-gray-600);
        color: var(--color-gray-100);
        text-decoration: none;

        path {
            fill: var(--color-gray-100)
        }
    }

    &:active {
        background-color: $theme;
        @include theme-shadow;

        path {
            color: var(--color-gray-100)
        }
    }
}

.active {
    background-color: $theme;
    color: var(--color-gray-100);
    @include theme-shadow;
    fill: var(--color-gray-100) !important;

    path {
        fill: var(--color-gray-100);
    }

    i {
        color: var(--color-gray-100);
    }
}

.navigation {
    margin-top: 1rem;
    display: flex;
    justify-content: left;
    align-items: center;

    .home {
        margin-bottom: 0.2rem;
        margin-right: 0.2rem;
    }
}