@import '../core/_colors.scss';

.best-seller {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 24px;
    padding-inline: 10px;
    background-color: $success;
    color: white;
    border-radius: 0.2rem;

    p {
        font-size: 0.9rem;
        margin: 0;
    }
}

.digital-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 24px;
    padding-inline: 10px;
    background-color: $gray-300;
    color: black;
    border-radius: 0.2rem;

    p {
        font-size: 0.9rem;
        margin: 0;
    }
}

.bookmark 
{
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    right: 3%;
    top: 6%;
    transition: ease-in-out 120ms;
    display: flex;
    justify-content: center;
    align-items: center;


    .bubble-container {
        position: absolute;
        bottom: 120%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: opacity ease-in-out 120ms;
        opacity: 0;

        .text-container {
            text-align: center;
            background-color: $gray-800;
            color: $gray-100;
            width: 7rem;
            padding-block: 8px;
            font-size: 0.9rem;
            border-radius: 0.4rem;
            border: none;
            z-index: 2;
        }

        .triangel-bottom {
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid $gray-800;
        }
    }

    &:hover 
    {
        background-color: $gray-400;
        transform: scale(1.1);

        .bubble-container {
            opacity: 1;
        }
    }
}
