@import '../_core.scss';

@media(min-width:10px)
{
    #footer {
        display: block;
        margin: auto;
        @include text-m;
        color: $gray-600;

        .container {
            text-align: center;
            margin-block: 2rem;

            .social-media {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                margin-bottom: 30px;
            }

            span {
                display: none;
            }
        }
    }
}

@media(min-width:1820px)
{
    #footer 
    {
        .container 
        {
            margin-block: 3rem;

            span
            {
                display: contents;
            }
        }
    }
}
